.carousel {
  width: 250px;
  height: 400px;
  &__title {
    font-size: 32px;
    text-align: center;
    font-weight: 800;
    margin-bottom: 20px;
  }
  &__image {
    height: 380px;
    margin: auto;
  }
  &__image-block {
    overflow: hidden;
  }
  &--posters {
    background-color: rgb(255, 255, 255);
    height: 400px;
    width: 600px;
  }
  &--similar {
    height: 400px;
    width: 263px;
  }
  @media (max-width: 620px) {
    width: 400px;
    &--similar {
      width: 300px;
    }
  }
  @media (max-width: 480px) {
    width: 300px;
    &--similar {
      width: 270px;
    }
  }
}
.similar {
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-left: 30px;
  @media (max-width: 1030px) {
    margin-left: 0;
  }
}

.posters {
  margin-top: 30px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  @media (max-width: 620px) {
    width: 400px;
  }
  @media (max-width: 480px) {
    width: 300px;
  }
}
.carousels {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  @media (max-width: 1030px) {
    flex-direction: column;
    align-items: center;
  }
}
