@import '../variables';

.info-wrapper {
  display: flex;
}

.info-poster {
  width: 300px;
  height: 450px;
}

.info {
  position: relative;
  display: flex;
  justify-content: space-between;
  &__title {
    margin-left: 50px;
    font-size: 48px;
  }
  &__rating {
    text-align: center;
    width: 100px;
    height: fit-content;
    color: #ffffff;
    font-size: 48px;
    font-weight: 800;
    &--normal {
      background-color: #858585;
    }
    &--high {
      background-color: #00941b;
    }
    &--low {
      background-color: #ff2c2c;
    }
  }

  @media (max-width: 480px) {
    &__title {
      font-size: 45px;
      text-align: center;
    }
    &__rating {
      position: absolute;
      top: -470px;
      right: 0;
    }
  }
}

.info-description {
  margin-top: 50px;
  margin-left: 50px;
  &__title {
    font-size: 30px;
  }
  &__text {
    font-size: 20px;
  }
  @media (max-width: 480px) {
    margin-top: 30px;
  }
}

.description {
  width: 100%;
}

.stub {
  text-align: center;
}

@media (max-width: 800px) {
  .info-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
